---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "@/lib/contentful";
import { type Asset, type AssetDetails } from "contentful";

const { currentLocale } = Astro;
const { lang, slug } = Astro.params;

/* interface BlogPost {
  contentTypeId: "blogPost",
  fields: {
    title: EntryFieldTypes.Text
    slug: EntryFieldTypes.Text
    content: EntryFieldTypes.RichText,
  }
} */
let cover : any;
let post: any;
let DEFAULT_URL_IMG = 'https://p.turbosquid.com/ts-thumb/VP/4zuDwr/8K8vxa7P/nyb/jpg/1309299891/600x600/fit_q87/da2fa3ed980c06fe6200bb0f5c68cd4c583d2b94/nyb.jpg'
  const data = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
    "fields.slug": slug,
    locale: lang,
  });

  const { title, date, content } = data.items[0].fields;
  post = {
    title,
    date: new Date(date).toLocaleDateString(),
    content: documentToHtmlString(content),
  };

  cover = data.items[0].fields.cover as Asset<undefined, string>;
---

<section>
  <h1 class="text-2xl text-white">Últimas noticias</h1>
  <!--      -->
  {
    data.items.map((item: any) => (
      <div>
        <a
          href="#"
          class="flex flex-col items-start md:flex-row md:max-w-xl hover:bg-gray-100 "
        >
          <img
            class="object-cover w-3 rounded-t-lg md:w-40 md:h-40 md:rounded-none md:rounded-s-lg"
            src={item.fields.cover ? (item.fields.cover as Asset<undefined, string>).fields?.file?.url : DEFAULT_URL_IMG}
            alt=""
          />
          
          <div class="flex flex-col justify-start items-start p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
              {item.fields.title}
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              {documentToHtmlString(item.fields.content).replace(
                /(<([^>]+)>)/gi,
                ""
              )}
            </p>
            <time>
              {post?.date}
              </time>
          </div>
          <a
            href={`${currentLocale}/news/${item.fields.slug}`}
            class="text-blue-500"
          >
            Leer más
          </a>
        </a>
      </div>
    ))
  }
</section>
