---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "../../lib/contentful";

export const prerender = false;


let post;
let asset
const { slug } = Astro.params;
try {
  const data = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
    "fields.slug": slug,
  });


  const { title, date, content, cover, multimedia } = data.items[0].fields;
  post = {
    title,
    cover,
    multimedia,
    date: new Date(date).toLocaleDateString(),
    content: documentToHtmlString(content),

  };
  //post.a = data.items[0].fields.cover as Cover2
  //const a =  data.items[0].fields.cover as Cover2
  //const a = post.cover as 
  //console.log(post.cover.sys.id)
  asset = await contentfulClient.getAsset(post.cover.sys.id);
  console.log(asset?.fields?.file?.url)
} catch (error) {
  return Astro.redirect("/404");
}

/* interface Item {
  fields: {
    file: {
      contentType: string;
      url: string;
      details: {
        image: {
          width: number;
          height: number;
        };
      };
    };
    title: string;
  };
} */
---

<Layout title="Welcome to Astro." description="La web de cebem">
	<main>
		<h1>{post?.title}</h1>
    <time>{post?.date}</time>
    <img width="100px" src={asset?.fields?.file?.url} />
    <article set:html={post?.content} />

</main>
</Layout>