<section>
    <h2 class="text-2xl">¿Por qué elegir Cebem?</h2>
    <ul>
        <li>
            <h3 class="text-xl">Por Experiencia</h3>
            <p>Contamos con más de 40 años de experiencia en el mercado.</p>
        </li>
        <li>
            <h3 class="text-xl">Por Calidad</h3>
            <p>Contamos con los mejores productos del mercado.</p>
        </li>
        <li>
            <h3 class="text-xl">Por Servicio</h3>
            <p>Contamos con un equipo de profesionales que te ayudarán a encontrar la mejor solución.</p>   
        </li>
        <li>
            <h3 class="text-xl">Por Precio</h3>
            <p>Contamos con los mejores precios del mercado.</p>
        </li>
    </ul>
</section>