---
import CourseCard from "./CourseCard.astro";

---

<section class="text-xl text-left text-pretty mx-auto my-24" >

    <h2 class="text-4xl text-white text-center uppercase text-wrap tracking-wide">Ciclo formativos de FP</h2>
    <h4 class="text-xl text-white text-center">Te presentamos a continuación los ciclos formativos de FP que ofrece Cebem</h4>

    <div>
        <CourseCard
            title="Ciclo Grado Superior Desarrollo de Aplicaciones Multiplataforma"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
            img="/img/courses/daw.jpg"
            icon="/cursos/daw"/>
        <CourseCard
            title="Ciclo Grado Superior Administración y Finanzas"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
            img="/img/courses/daw.jpg"
            icon="/cursos/daw"/>
    </div>
</section>