---
import Button from '@/components/Button.astro';
interface Props {
	title: string;
	description: string;
	img: string;
    icon: string;
}

const { img, title, description } = Astro.props;
---


<article class="group max-w-sm bg-white border border-gray-200 hover:ring-1 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img 
        class="hover:animate-jump first-line:rounded-t-lg w-full max-h-60 object-cover object-top group-hover:opacity-75" 
        src={img} alt={title} />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold text-balance tracking-tight text-gray-900 dark:text-white">{title}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 group-hover:stroke-white"
        >{description}</p>
        <Button href="#">Leer más</Button>
    </div>
</article>
