<header id="header-nav" class="text-black bg-slate-400 fixed w-screen top-0 z-50 flex py-4 px-8">
    <div class="grid grid-cols-2 w-screen mx-auto items-center justify-between">
        <a class="col-span-1" href="/">
            <img src="/images/logo-grafico.png" alt="logo" class="w-20">
        </a>
        <nav class="col-span-1 justify-self-center">
            <ul class="flex gap-5">
                <li>
                    <a class="hover:underline" href="/es">es</a>
                </li>
                <li>
                    <a class="hover:underline" href="/gl">gl</a>
                </li>
                <li>
                    <a class="hover:underline" href="index.php">Home</a>
                </li>
                <li>
                    <a class="hover:underline" href="index.php">News</a>
                </li>
               
            </ul>
        </nav>
    </div>
</header>