<div class="relative">
    <h1 class="text-3xl z-1 absolute bg-red-300 z-10 animate-fade">Bienvenido a Cebem</h1>
    <video src="/video/video.mpg" autoplay loop muted class="w-full h-auto animate-fade animate-duration-1000"
    style="clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    "></video>
</div>