---
import { getI18N } from '../i18n/'

const {currentLocale='es'} = Astro
const i18n = getI18N({currentLocale})
---
<div class="relative">
    <video src="/video/video.mp4" autoplay loop muted class="w-full h-auto"
    style="clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    "></video>
    <div class="text-black text-5xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center animate-fade animate-duration-1000">
        <h1 class="text-6xl font-bold mb-4">{i18n?.WELLCOME}</h1>
        <h2 class="text-2xl ">Centro de formación profesional</h2>
    </div>
</div>